<form method="post" action="/upload" enctype='multipart/form-data'>
  S3 Secret ID <input name="s3_id" type="text" /><br />
  S3 Secret Key <input name="s3_key" type="text" /><br />
  S3 Directory <input name="s3_directory" type="text" /><br />
  Email <input name="email" type="text" /><br />
  File <input name="file" type="file"><br />
  <input type="submit" />
</form>